In [5]:
import pandas as pd
dados = pd.read_csv("C:/Users/ferna/Downloads/Data Science/Curso de Estatística - Parte 1/dados.csv")

In [6]:
classes = [dados.Altura.min(), 1.65, 1.75, dados.Altura.max()]
labels = ['1 - Baixa', '2 - Média', '3 - Alta']

frequencia = pd.value_counts(
    pd.cut(
        x = dados.Altura,
        bins = classes,
        labels = labels,
        include_lowest = True
    )
)

percentual = pd.value_counts(
    pd.cut(
        x = dados.Altura,
        bins = classes,
        labels = labels,
        include_lowest = True
    ), normalize = True
) * 100

dist_freq_altura = pd.DataFrame(
    {'Frequência': frequencia, 'Porcentagem (%)': percentual}
)

dist_freq_altura.rename_axis('Estaturas', axis= 'columns', inplace = True)

dist_freq_altura.sort_index(ascending = True, inplace = True)

dist_freq_altura

Estaturas  Frequência  Porcentagem (%)
1 - Baixa       20529        26.716554
2 - Média       36162        47.061426
3 - Alta        20149        26.222020

In [7]:
dataset = pd.DataFrame({
    'Sexo': ['H', 'M', 'M', 'M', 'M', 'H', 'H', 'H', 'M', 'M'],
    'Idade': [53, 72, 54, 27, 30, 40, 58, 32, 44, 51]
})

In [8]:
dataset.mean()

Idade    46.1
dtype: float64

In [11]:
dataset.groupby(['Sexo']).mean()['Idade']

Sexo
H    45.750000
M    46.333333
Name: Idade, dtype: float64

In [12]:
df = pd.DataFrame(data = {'Fulano': [8, 10, 4, 8, 6, 10, 8],
                          'Sicrano': [7.5, 8, 7, 8, 8, 8.5, 7]}, 
                  index = ['Matemática', 
                           'Português', 
                           'Inglês', 
                           'Geografia', 
                           'História', 
                           'Física', 
                           'Química'])
df.rename_axis('Matérias', axis = 'columns', inplace = True)
df

Matérias    Fulano  Sicrano
Matemática       8      7.5
Português       10      8.0
Inglês           4      7.0
Geografia        8      8.0
História         6      8.0
Física          10      8.5
Química          8      7.0

In [13]:
df['Fulano'].mad()

1.5510204081632648

In [15]:
df['Sicrano'].mad()

0.4693877551020408

In [28]:
dataset = pd.DataFrame({
    'Sexo': ['H', 'M', 'M', 'M', 'M', 'H', 'H', 'H', 'M', 'M'],
    'Idade': [53, 72, 54, 27, 30, 40, 58, 32, 44, 51]
})
dataset

  Sexo  Idade
0    H     53
1    M     72
2    M     54
3    M     27
4    M     30
5    H     40
6    H     58
7    H     32
8    M     44
9    M     51

In [29]:
dataset.groupby(['Sexo']).std()['Idade']

Sexo
H    11.898879
M    16.645320
Name: Idade, dtype: float64